<div class="container">
  <h1>Add New Product</h1>
  <nav aria-label="breadcrumb">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/manageProducts">Manage Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Products</li>
      </ol>
    </div>
  </nav>
  <div class="row" style="padding-top: 20px">
    <div class="col">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Name"
            [disabled]="isLoading">
        </div>
        <div class="form-group">
          <label for="category-control-select">Category</label>
          <select class="form-control" id="category-control-select" [(ngModel)]="model.category" name="category" #category="ngModel"
            [disabled]="isLoading">
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="care" [(ngModel)]="model.care" name="care" #care="ngModel" placeholder="Care - Split by commas for multiple lines"
            [disabled]="isLoading">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description" #description="ngModel"
            placeholder="Description - Split by commas for multiples lines" [disabled]="isLoading">
        </div>
        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-new-input" type="checkbox" id="newCheck" [(ngModel)]="product.isFavourite" name="isFavourite" #isFavourite="ngModel"
              [disabled]="isLoading">
            <label class="form-new-label" for="newCheck">
              Enable For New Collection
            </label>
          </div>
        </div> -->
        <div>
          <button class="btn btn-primary" style="width: 100%" [disabled]="isLoading">Submit</button>
        </div>
      </form>
    </div>
    <div class="col upload-file-container">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="fileUploader" (change)="onFileChanged($event)" [disabled]="isLoading">
        <label class="custom-file-label" for="customFile">{{lastImageName}}</label>
        <div class="row">
          <div class="col-sm-4 preview-images" *ngFor="let image of images">
            <img [id]="image.name" [src]="image.content" [alt]="image.name">
            <button class="btn btn-primary" (click)="removeImage(image)">Remove</button>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="d-flex justify-content-center loading">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>