<div class="container">
  <h1>Add New Product</h1>
  <nav aria-label="breadcrumb">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Products</li>
      </ol>
    </div>
  </nav>
  <div class="row" style="padding-top: 20px">
    <div class="col">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="price" [(ngModel)]="model.price" name="price" #price="ngModel" placeholder="$ Price">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="discount" [(ngModel)]="model.discount" name="discount" #discount="ngModel"
            placeholder="Discount">
        </div>
        <div class="form-group">
          <label for="category-control-select">Category</label>
          <select class="form-control" id="category-control-select" [(ngModel)]="model.category" name="category" #category="ngModel">
            <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="care" [(ngModel)]="model.care" name="care" #care="ngModel" placeholder="Care - Split by commas for multiple lines">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description" #description="ngModel"
            placeholder="Description - Split by commas for multiples lines">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="size" [(ngModel)]="model.size" name="size" #size="ngModel" placeholder="Available Sizes - Split by commas for multiple Sizes">
        </div>
        <div class="form-group">
          <div class="promo-image-container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input" data-toggle="tooltip" data-placement="bottom" title="Enable/Disable Promotion Image"
                    (change)="changeIsPromotionImage()">
                </div>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="promotionUploadFile" (change)="onPromoFileUpload($event)" aria-describedby="promotionMainUploadFile"
                  [disabled]="!isPromotionImage">
                <label class="custom-file-label" for="promotionUploadFile">{{promoMainImageText}}</label>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="promotionUploadFile" (change)="onPromoFileUpload($event)" aria-describedby="promotionNewUploadFile"
                  [disabled]="!isPromotionImage">
                <label class="custom-file-label" for="promotionUploadFile">{{promoNewImageText}}</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary" style="width: 100%">Submit</button>
        </div>
      </form>
    </div>
    <div class="col upload-file-container">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="fileUploader" (change)="onFileChanged($event)">
        <label class="custom-file-label" for="customFile">{{lastImageName}}</label>
        <div class="row">
          <div class="col-sm-4 preview-images" *ngFor="let image of images">
            <img [id]="image.name" [src]="image.content" [alt]="image.name">
            <button class="btn btn-primary" (click)="removeImage(image)">Remove</button>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>