<footer class="footer">
  <div class="container">
      <div class="up-footer">
          <a class="sizing-btn" routerLink="/sizing">Sizing</a>
          <a class="contact-btn" routerLink="/contact">Contact Us</a>
          <a class="contact-btn" routerLink="/terms">Term of Service</a>
          <a class="fa-btn" href="https://www.facebook.com">
              <img src="assets/images/fa.svg" width="25" height="25" alt="facebook icon">
          </a>
          <a class="in-btn" href="https://www.instagram.com">
              <img src="assets/images/in.svg" width="25" height="25" alt="instagram icon">
          </a>
      </div>
      <div class="lo-footer">
          <p>Copyright © 2018 Anca Morar. All Rights Reserved. Designed By Andrei Muntean And Daniel Incicau</p>
      </div>
  </div>
</footer>
