.footer {
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: black;
    text-align: center;
    position: relative;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.lo-footer {
    color: gray;
    font-size: 8pt;
    cursor: default;
    padding-top: 5px;
}