.container {
    padding-top: 90px;
}
button {
    width: 120px;
}
.button-panel {
    padding-left: 30px;
}
.top {
    margin-bottom: 10px;
}
.bot {
    margin-bottom: 30px;
}
.col-sm6 {
    padding-right: 10px !important;
}
ngb-pagination {
    padding-top: 30px;
}
.adding-panel{
    padding-bottom: 10px
}
.breadcrumb {
    background-color: white;
    padding: 0 0 15px 0;
    margin: 0;
}
.breadcrumb-item {
    padding-top: 7px;
    padding-left: 15px;
}
.breadcrumb-item.active {
    cursor: default;
    color: #f72464;
}
.navbar-brand {
    padding-left: 15px;
}
a:hover {
    color: #f72464 !important;
    cursor: pointer;
}
:host /deep/ .card-header {
    background: white;
}
:host /deep/ .btn-link {
    color: #f72464;
}