<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/logo.png" width="70" height="70" alt="Anca Morar Logo">
  </a>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">Looks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">Dresses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">Skirts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">Jackets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">Tops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalog">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.etsy.com/shop/AncaLMorar">Shop</a>
    </li>
  </ul>
</nav>