.logo-brand {
    background-color: transparent;
    position: absolute;
    top: 40px;
    z-index: 2;
    left: 47.5%;
    text-align: center;
}
.interior-logo-brand {
    width: 70px;
    height: 70px;
    background-color: white;
}
.row {
    padding-top: 15px;
}
.container {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.products-carousel {
    max-width: 500px;
    max-height: 650px;
}
img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 550px;
    max-height: 650px;
}
h5 {
    font: bold;
    font-size: 14pt;
}
h6 {
    color: #c4c4c4;
    font-size: 10pt;
}
.list-group-item {
    border: none;
    outline: none;
}
* {
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
}