<div class="logo-brand">
  <div class="interior-logo-brand">
    <img src="assets/images/logo.png" width="70" height="70" alt="Anca Morar Logo">
  </div>
</div>
<div class="row">
  <div class="col">
    <ngb-carousel class="products-carousel">
      <ng-template ngbSlide *ngFor="let image of images">
        <img src="https://s3.eu-central-1.amazonaws.com/{{image.content}}" alt="image.name">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col">
    <div class="container">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="span-item">
            <h6>Name</h6>
            <h5>{{title}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Category</h6>
            <h5>{{category}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Available in Sizes</h6>
            <div class="row">
              <div class="col-sm-1 stock-col" *ngFor="let stock of stocks">
                <h5>{{stock.size}}</h5>
              </div>
            </div>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Description</h6>
            <h5 *ngFor="let descr of description">{{descr}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Care</h6>
            <h5 *ngFor="let c of care">{{c}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Price</h6>
            <h5>For price and ordering please use our contact page</h5>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>