.prev-arrow {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 42%;
    padding-left: 15px;
}
.next-arrow {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 42%;
    padding-right: 15px;
}
.grid-view {
    width: 40px;
    height: 40px;
    left: 13%;
    top: calc(100% - 130px);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}
.grid-view:hover, .interior-grid-view:hover {
    cursor: pointer;
}
.grid-view:hover .grid-svg {
    fill: #f72464;
}
.grid-view:active, .grid-view:focus {
    outline: none;
}
.interior-grid-view {
    padding-top: 6px;
    cursor: pointer;
}
svg {
    cursor: pointer;
    fill: #c4c4c4;
}
svg:hover {
    fill: #f72464;
}
.logo-brand {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: calc(100vh - 120px);
    width: 120px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px #e4dfde;
    text-align: center;
}
.logo-text {
    padding-top: 3px;
    font-size: 6pt;
    text-transform: uppercase;
    color: #d7d6d6;
}
.logo {
    padding-top: 5px;
    cursor: pointer;
}
.container {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.products-carousel {
    max-width: 500px;
    max-height: 650px;
}
.carousel-img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 550px;
    max-height: 650px;
}
h5 {
    font: bold;
    font-size: 14pt;
}
h6 {
    color: #c4c4c4;
    font-size: 10pt;
}
.descr-line, .care-line, .price-line {
    font-size: 12pt;
}
.list-group-item {
    border: none;
    outline: none;
}
* {
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
}