<div class="prev-arrow">
  <div class="interior-prev-arrow">
    <a class="anchor-class" (click)="goToPrevProduct()" ng-disabled="!prevProduct">
      <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect fill="none" height="50" width="50" />
        <polygon points="35,47.25 37.086,45.164 16.922,25 37.086,4.836 35,2.75 12.75,25 " />
        <rect fill="none" height="50" width="50" />
      </svg>
    </a>
  </div>
</div>
<div class="next-arrow">
  <div class="interior-next-arrow">
    <a class="anchor-class" (click)="goToNextProduct()" ng-disabled="!nextProduct">
      <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect fill="none" height="50" width="50" />
        <polygon points="15,2.75 12.914,4.836 33.078,25 12.914,45.164 15,47.25 37.25,25 " />
      </svg>
    </a>
  </div>
</div>
<nav aria-label="breadcrumb">
  <div class="row">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Brand Logo">
    </a>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink] = "['/catalog/', product.category.categoryId]">Catalog</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
    </ol>
  </div>
</nav>
<div class="row">
  <div class="logo-brand" routerLink="/">
    <img class="logo" src="assets/images/logo.png" width="70" height="70" alt="Anca Morar Logo">
    <p class="logo-text">Designed By
      <br> Anca Morar</p>
  </div>
  <div class="col-md-6" [@carousel]="product">
    <ngb-carousel class="products-carousel">
      <ng-template ngbSlide *ngFor="let image of images">
        <img class="carousel-img" src="https://s3.eu-central-1.amazonaws.com/{{image.content}}" alt="image.name">
      </ng-template>
    </ngb-carousel>
    <div class="grid-view" [routerLink] = "['/catalog/', product.category.categoryId]">
      <div class="interior-grid-view">
        <a class="anchor-class">
          <svg class="grid-svg" height="16px" id="Layer_1" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16"
            width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M3,0H1C0.45,0,0,0.45,0,1v2c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1V1C4,0.45,3.55,0,3,0z M9,0H7C6.45,0,6,0.45,6,1v2  c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1V1C10,0.45,9.55,0,9,0z M15,0h-2c-0.55,0-1,0.45-1,1v2c0,0.55,0.45,1,1,1h2  c0.55,0,1-0.45,1-1V1C16,0.45,15.55,0,15,0z M3,6H1C0.45,6,0,6.45,0,7v2c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1V7C4,6.45,3.55,6,3,6  z M9,6H7C6.45,6,6,6.45,6,7v2c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1V7C10,6.45,9.55,6,9,6z M15,6h-2c-0.55,0-1,0.45-1,1v2  c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1V7C16,6.45,15.55,6,15,6z M3,12H1c-0.55,0-1,0.45-1,1v2c0,0.55,0.45,1,1,1h2  c0.55,0,1-0.45,1-1v-2C4,12.45,3.55,12,3,12z M9,12H7c-0.55,0-1,0.45-1,1v2c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-2  C10,12.45,9.55,12,9,12z M15,12h-2c-0.55,0-1,0.45-1,1v2c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-2C16,12.45,15.55,12,15,12z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="col" [@product]="product">
    <div class="container">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="span-item">
            <h6>Name</h6>
            <h5>{{product.name}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Category</h6>
            <h5>{{product.category.name}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Available in Sizes</h6>
            <div class="row">
              <div class="col-sm-2 stock-col" *ngFor="let stock of stocks">
                <h5>{{stock.size}}</h5>
              </div>
            </div>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Description</h6>
            <h5 class="descr-line" *ngFor="let descr of description">{{descr}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Care</h6>
            <h5 class="care-line" *ngFor="let c of care">{{c}}</h5>
          </span>
        </li>
        <li class="list-group-item">
          <span class="span-item">
            <h6>Price</h6>
            <h5 class="price-line">For price and ordering please use our contact page</h5>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>