<nav aria-label="breadcrumb">
  <div class="row">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Brand Logo">
    </a>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
  </div>
</nav>
<h4>Contact us</h4>
<div class="row">
  <div class="col-md-8">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="formGroupExampleInput1">Full Name *</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">
            This field is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Email *</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
          required email>
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">
            This field is required
          </div>
          <div *ngIf="email.errors.email">
            Must be a valid email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Phone Number</label>
        <input type="tel" class="form-control" id="formGroupExampleInput2" [(ngModel)]="model.phoneNumber" #phoneNumber=ngModel name="phoneNumber"
          pattern='^\+?\d{0,13}' [ngClass]="{ 'is-invalid': f.submitted && message.invalid }">
        <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
          <div *ngIf="phoneNumber.errors.pattern">
            Must be a valid phone number
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea4">Message *</label>
        <textarea class="form-control" id="message" rows="5" required minlength="250" [(ngModel)]="model.message" name="message"
          #message="ngModel" [ngClass]="{ 'is-invalid': f.submitted && message.invalid }"></textarea>
        <div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
          <div *ngIf="message.errors.required">
            This field is required
          </div>
          <div *ngIf="message.errors.minlength">
            The message is too short
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col">
    <div class="email">
      <label for="formGroupExampleInput5">Email</label>
      <p>
        <a class="email-text">pretty_ancuta@yahoo.com</a>
      </p>
    </div>
    <div class="adress">
      <label class="formGroupExampleInput6">Adress</label>
      <p>Firm srl, Street Street nr. 1, Zip Code 31020
        <br> City, State, Country</p>
    </div>
  </div>
</div>