h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
label {
    padding-top: 10px !important;
}
.adress {
    padding-top: 15px;
}
button {
    background: #f72464;
    border-color: #f72464;
    color: white;
    width: 120px;
}
button:hover {
    background: white !important;
    border-color: #f72464 !important;
    color: #52575d !important;
    background-image: none !important;  
    outline-color: #f72464 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f72464;
}
button:visited, button:focus {
    border-color: #f72464 !important;
    background-image: none !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f72464;
}
a:hover {
    color: #f72464 !important;
}
h4 {
    color: #222222
} 
label, p, a {
    color: #52575d;
}
input, select, textarea{
    color: #222222;
}
input:focus, textarea:focus, input:hover, textarea:hover {
    color: #222222;
    border-color: #222222;
    box-shadow: 0 1px 1px rgba(37, 37, 37, 0.075) inset, 0 0 8px #52575d;
    outline: 0 none;
}
textarea::-webkit-scrollbar {
    width: 10px;
}
textarea::-webkit-scrollbar-track {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #52575d;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #222222;
  outline: 0.5px solid #222222;
  border-color: #52575d;
}
p, h4 {
    cursor: default;
}
.breadcrumb {
    background-color: white;
    padding: 0 0 15px 0;
    margin: 0;
}
.breadcrumb-item {
    padding-top: 7px;
}
.breadcrumb-item.active {
    cursor: default;
    color: #f72464;
}
.navbar-brand {
    padding-left: 15px;
}
.email-text:hover {
    text-decoration: underline !important;
    cursor: pointer;
}