<div class="container  justify-content-bottom">
  <!-- Whats New Container -->
  <div class="whats-new-container">
    <div class="whats-new-inner">
      <!-- <div class="circle-div-holder">
        New
      </div> -->
      <div class="whats-new-first-img">
        <img src="{{newImage}}">
      </div>
      <div class="whats-new-second-img">
        <img src="{{newImage}}">
      </div>
      <div class="whats-new-third-img">
        <img src="{{newImage}}">
      </div>
    </div>
  </div>
</div>