<div class="container">
  <!-- Whats New Container -->
  <div class="whats-new-container">
    <div class="whats-new-inner">
      <div class="circle-div-holder">
        New
      </div>
      <div class="whats-new-first-img">
        <img src="assets/images/home-main.jpg">
      </div>
      <div class="whats-new-second-img">
        <img src="assets/images/home-main.jpg">
      </div>
      <div class="whats-new-third-img">
        <img src="assets/images/home-main.jpg">
      </div>
    </div>
  </div>
  <!-- Nav Container-->
  <div class="footer-container">
    <div class="nav-container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="https://facebook.com/AncaLidiaMorar/">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/ancalmorar/">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ancasfashionprerogative.com">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>