.content-pane {
    padding-top: 10px;
}
.shop-tittle {
    text-align: center;
    padding-bottom: 80px;
}
h1 {
    font: bold;
    cursor: default;
}
h6 {
    color: #c4c4c4;
    cursor: default;
}
.row {
    padding-bottom: 15px;
}
:host /deep/ .page-item.active .page-link {
    background-color: #f72464;
    border-color: #f72464;
}
:host /deep/ .page-link {
    color: #f72464;
}
:host /deep/ .page-link:focus {
    box-shadow: 0 0 0.2rem rgba(173, 6, 70, 0.25);
}