<div class="content-pane">
    <div class="shop-tittle">
        <h1>{{category.name}}</h1>
        <h6>Anca Morar</h6>
    </div>
    <div class="row">
        <ng-container *ngFor="let product of products, let i = index">
            <div class="col-sm-3">
                <div class="mb-2">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
            <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
        </ng-container>
    </div>
    <ngb-pagination class="d-flex justify-content-end" [collectionSize]='collectionSize' [(page)]='page' (pageChange)='pageChange($event)' [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>