.content-pane {
    padding-top: 10px;
}
.shop-tittle {
    text-align: center;
    padding-bottom: 80px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font: bold;
}
h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #c4c4c4;
}
.row {
    padding-bottom: 15px;
}
.page-link {
    color: #222222;
}
.page-link:hover {
    background-color: transparent;
    border: 1px solid #f72464;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f72464;
}