<div class="content-pane">
    <div class="shop-tittle">
        <h1>Newest Products</h1>
        <h6>Anca Morar</h6>
    </div>
    <div class="row">
        <ng-container *ngFor="let product of products, let i = index">
            <div class="col-sm-3">
                <div class="mb-2">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
            <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
        </ng-container>
    </div>
</div>