<div class="container">
  <!-- Info div -->
  <div class="info-container">
    <div class="info-text">
      <h1>Anca
        <br> Morar</h1>
      <h4>Fashion for everyone</h4>
    </div>
  </div>
  <!-- Images div container -->
  <div class="row justify-content-center inner">
    <!-- Collection div -->
    <div class="col-lg-6 collection-container">
      <div class="collection-img">
        <img src={{homeImage}}>
      </div>
    </div>
    <!-- Whats New div -->
    <div class="col-lg-5 whats-new-container">
      <app-home-new [newImage]="newImage"></app-home-new>
    </div>
  </div>
  <!-- Nav Container-->
  <div class="footer-container">
    <div class="nav-container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="https://facebook.com/AncaLidiaMorar/">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/ancalmorar/">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ancasfashionprerogative.com">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>