.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.inner {
    position: relative;
    padding-top: 30px;
}
img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.info-container {
    position: fixed;
    padding-left: 50px;
    margin: 0;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 25px;
    z-index: 4;
}
.info-text {
    width: 200px;
    transform: rotate(-90deg);
}
h1, h4 {
    cursor: default;
    text-transform: uppercase;
}
h1 {
    display: block;
    color: black;
    font-family: 'constant' !important;
    font-size: 4rem;
}
h4 {
    font-size: 1rem;
}
.collection-container {
    padding-top: 5px;
    position: relative;
    width: 100%;
}
.whats-new-container {
    padding-top: 5px;
    position: relative;
    width: 100%;
}
a {
    color: black;
}
a:hover {
    color: #b6b5b5;
}