.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.inner {
    position: relative;
    padding-top: 70px;
}
img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 493px;
}
.info-container {
    position: fixed;
    padding-left: 50px;
    margin: 0;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 25px;
    z-index: 4;
}
.info-text {
    width: 200px;
    transform: rotate(-90deg);
}
h1, h4 {
    cursor: default;
    text-transform: uppercase;
}
h1 {
    display: block;
    color: black;
    font-family: 'constant' !important;
    font-size: 4rem;
}
h4 {
    font-size: 1rem;
}
.collection-container {
    padding-top: 5px;
    margin-left: 50px;
    position: relative;
    width: 100%;
}
.whats-new-container {
    padding-top: 5px;
    position: relative;
    width: 100%;
}
a {
    color: black;
}
a:hover {
    cursor: pointer;
    color: #b6b5b5;
}
.nav-container {
    position: fixed;
    margin: 0;
    width: 100%;
    height: auto;
    right: 25px;
    bottom: 5px;
    z-index: 4;
}
@media screen and (max-width: 993px) {
    .whats-new-container {
        display: none;
    }
}

@media screen and (max-height: 576px) and (max-width: 320px) {
    .info-text {
        width: 200px;
        transform: rotate(0deg);
    }
    .info-container {
        left: 20px;
        text-align: center;
    }
    h4 {
        display: none;
    }
}

@media screen and (max-height: 825px) and (max-width: 450px) {
    .info-container {
        bottom: 80px;
    }
}