<div class="container">
  <app-navbar></app-navbar>
  <!-- Info div -->
  <div class="info-container">
    <div class="info-text">
      <h1>Anca
        <br> Morar</h1>
      <h4>Fashion for everyone</h4>
    </div>
  </div>
  <!-- Images div container -->
  <div class="row justify-content-center inner">
    <!-- Collection div -->
    <div class="col-md-6 collection-container">
      <div class="collection-img">
        <img src={{homeImage}}>
      </div>
    </div>
    <!-- Whats New div -->
    <div class="col-md-5 whats-new-container">
      <app-home-new [newImage]="newImage"></app-home-new>
    </div>
  </div>
</div>