table {
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
label {
    padding-top: 10px !important;
    padding-bottom: 10px;
    color: #52575d;
}
h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
p {
    padding-top: 20px;
}
.contact-us {
    font-weight: bolder;
    margin-left: 2px;
}
.contact-us:hover {
    font-weight: bolder;
    color: #f72464;
    cursor: pointer;
}
.breadcrumb {
    background-color: white;
    padding: 0 0 15px 0;
    margin: 0;
}
.breadcrumb-item {
    padding-top: 7px;
}
.breadcrumb-item.active {
    cursor: default;
    color: #f72464;
}
.navbar-brand {
    padding-left: 15px;
}
a:hover {
    color: #f72464 !important;
    cursor: pointer;
}
* {
    color: #222222;
    cursor: default;
}