table {
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
label {
    padding-top: 10px !important;
    padding-bottom: 10px;
    color: #52575d;
}
h4 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
p {
    padding-top: 20px;
}
a {
    font-weight: bolder;
    margin-left: 2px;
}
a:hover {
    font-weight: bolder;
    color: #f72464;
    cursor: pointer;
}
* {
    color: #222222;
    cursor: default;
}